/* style.css */

body {
  scroll-behavior: smooth;
  font-family: 'Segoe UI', sans-serif;
}

 .nav-link {
    transition: all 0.3s ease-in-out;
  }

  .nav-link:hover {
    color: #00e0ff !important;
    transform: scale(1.05);
  }

  .navbar-brand:hover {
    color: #ffc107 !important;
  }
  

/* Hero text glow */
#hero h1 span {
  text-shadow: 0 0 10px #0ff;
}

/* Card hover effect */
.card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
  box-shadow: 0 10px 20px rgba(0, 123, 255, 0.2);
}

@media (max-width: 991.98px) {
    .navbar-nav .nav-item {
      margin-bottom: 10px;
    }
  }

 